.mainchat
  .mainchat__header
    .group-top
      大根
      %ul.member
        Member：
        %li 友達
    .group-edit
      = link_to "#" do
        Edit
  .messages
    .message
      .message__top
        .user
          おかみん
        .time
          2020/03/10(Tue) 20:00
      .message__bottom
        .text
          わりと帰りたい
    .message
      .message__top
        .user
          ます子
        .time
          2020/03/10(Tue) 20:01
      .message__bottom
        .text
          確かにそっすね
  .form