.sidebar
  .sidebar__header
    .sidebar__header__box
      .username
        おかみん
      %ul.icon
        = link_to "#", class: "contents__btn" do
          = icon('fa', 'edit')
        = link_to "#", class: "contents__btn" do
          = icon('fa', 'cog')
  .groups
    .group
      .group__name
        大根
      .index
        おでん
    .group
      .group__name
        牛すじ
      .index
        肉
    .group
      .group__name
        玉ねぎ
      .index
        淡路